<header>
    <h2 class="display-4 mb-4">Brick masonry</h2>
    <p>Brick is cascading markup grid layout. It can be combine with masonry javascript library.</p>
</header>

<figure>
    <figcaption>Default columns example</figcaption>
    <p>
        Using <code>.card-columns</code> grouping, wrap element with <code>.brick</code> class to achieve desired look. Combine with any component such as
        <a href="#boxes">boxes</a>, <a href="#cards">cards</a>, <a href="#cover">cover</a> or any other.
    </p>

    <div class="card-columns">
        <div class="card">
            <div class="brick br-sm">
                <div class="brick-content">
                    <div class="cover cover-overlay" style="background-image:url({{docs.img}}placeholder.jpg)"></div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="brick brick-next br-sm">
                <div class="brick-content">
                    <div class="cover cover-overlay" style="background-image:url({{docs.img}}placeholder-2.jpg)"></div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="brick brick-next br-sm">
                <div class="brick-content">
                    <div class="cover cover-overlay" style="background-image:url({{docs.img}}placeholder-3.jpg)"></div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="brick br-sm">
                <div class="brick-content">
                    <div class="cover cover-overlay" style="background-image:url({{docs.img}}placeholder-4.jpg)"></div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="brick br-sm">
                <div class="brick-content">
                    <div class="cover cover-overlay" style="background-image:url({{docs.img}}placeholder-2.jpg)"></div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="brick brick-next br-sm">
                <div class="brick-content">
                    <div class="cover cover-overlay" style="background-image:url({{docs.img}}placeholder.jpg)"></div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="brick brick-next br-sm">
                <div class="brick-content">
                    <div class="cover cover-overlay" style="background-image:url({{docs.img}}placeholder-4.jpg)"></div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="brick br-sm">
                <div class="brick-content">
                    <div class="cover cover-overlay" style="background-image:url({{docs.img}}placeholder-3.jpg)"></div>
                </div>
            </div>
        </div>
    </div>

    <!--Snippet-->
    <div class='snippet'>
        <span class='pre-label'>HTML</span>
        <div class='snippet-box show'>
            <pre class='mb-0 language-markup'><span class='btn btn-secondary btn-copy btn-sm' data-clipboard-snippet>Copy</span><code class='language-markup'>&lt;div class=&quot;card-columns&quot;&gt;
    &lt;div class=&quot;card&quot;&gt;
        &lt;div class=&quot;brick br-sm&quot;&gt;
            &lt;div class=&quot;brick-content&quot;&gt;
                &lt;div class=&quot;cover cover-overlay&quot; style=&quot;background-image:url(placeholder.jpg)&quot;&gt;&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card&quot;&gt;
        &lt;div class=&quot;brick brick-next br-sm&quot;&gt;
            &lt;div class=&quot;brick-content&quot;&gt;
                &lt;div class=&quot;cover cover-overlay&quot; style=&quot;background-image:url(placeholder.jpg)&quot;&gt;&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card&quot;&gt;
        &lt;div class=&quot;brick brick-next br-sm&quot;&gt;
            &lt;div class=&quot;brick-content&quot;&gt;
                &lt;div class=&quot;cover cover-overlay&quot; style=&quot;background-image:url(placeholder.jpg)&quot;&gt;&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card&quot;&gt;
        &lt;div class=&quot;brick br-sm&quot;&gt;
            &lt;div class=&quot;brick-content&quot;&gt;
                &lt;div class=&quot;cover cover-overlay&quot; style=&quot;background-image:url(placeholder.jpg)&quot;&gt;&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card&quot;&gt;
        &lt;div class=&quot;brick br-sm&quot;&gt;
            &lt;div class=&quot;brick-content&quot;&gt;
                &lt;div class=&quot;cover cover-overlay&quot; style=&quot;background-image:url(placeholder.jpg)&quot;&gt;&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card&quot;&gt;
        &lt;div class=&quot;brick brick-next br-sm&quot;&gt;
            &lt;div class=&quot;brick-content&quot;&gt;
                &lt;div class=&quot;cover cover-overlay&quot; style=&quot;background-image:url(placeholder.jpg)&quot;&gt;&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card&quot;&gt;
        &lt;div class=&quot;brick brick-next br-sm&quot;&gt;
            &lt;div class=&quot;brick-content&quot;&gt;
                &lt;div class=&quot;cover cover-overlay&quot; style=&quot;background-image:url(placeholder.jpg)&quot;&gt;&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card&quot;&gt;
        &lt;div class=&quot;brick br-sm&quot;&gt;
            &lt;div class=&quot;brick-content&quot;&gt;
                &lt;div class=&quot;cover cover-overlay&quot; style=&quot;background-image:url(placeholder.jpg)&quot;&gt;&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
    <!--/Snippet-->

</figure>

<figure>
    <figcaption>Brick grid massonry</figcaption>
    <p>Brick can be applied on Bootstrap grid also. To apply massonry look, use <code>.istp-wrap</code> as a wrapper and <code>.istp</code> as main grid element. For extending component with filters options read more about <a href="#isotope">isotpe filtering</a>.</p>

    <div class="row istp-wrap no-gutters">
        <div class="istp col-6 col-lg-3">
            <div class="brick">
                <div class="brick-content">
                    <div class="cover cover-overlay" style="background-image:url({{docs.img}}placeholder.jpg)"></div>
                </div>
            </div>
        </div>
        <div class="istp col-6 col-lg-3">
            <div class="brick brick-next">
                <div class="brick-content">
                    <div class="cover cover-overlay" style="background-image:url({{docs.img}}placeholder-2.jpg)"></div>
                </div>
            </div>
        </div>
        <div class="istp col-6 col-lg-3">
            <div class="brick">
                <div class="brick-content">
                    <div class="cover cover-overlay" style="background-image:url({{docs.img}}placeholder-3.jpg)"></div>
                </div>
            </div>
        </div>
        <div class="istp col-6 col-lg-3">
            <div class="brick brick-next">
                <div class="brick-content">
                    <div class="cover cover-overlay" style="background-image:url({{docs.img}}placeholder-4.jpg)"></div>
                </div>
            </div>
        </div>
        <div class="istp col-6 col-lg-3">
            <div class="brick brick-next">
                <div class="brick-content">
                    <div class="cover cover-overlay" style="background-image:url({{docs.img}}placeholder-3.jpg)"></div>
                </div>
            </div>
        </div>
        <div class="istp col-6 col-lg-3">
            <div class="brick">
                <div class="brick-content">
                    <div class="cover cover-overlay" style="background-image:url({{docs.img}}placeholder.jpg)"></div>
                </div>
            </div>
        </div>
        <div class="istp col-6 col-lg-3">
            <div class="brick brick-next">
                <div class="brick-content">
                    <div class="cover cover-overlay" style="background-image:url({{docs.img}}placeholder-4.jpg)"></div>
                </div>
            </div>
        </div>
        <div class="istp col-6 col-lg-3">
            <div class="brick">
                <div class="brick-content">
                    <div class="cover cover-overlay" style="background-image:url({{docs.img}}placeholder-2.jpg)"></div>
                </div>
            </div>
        </div>

    </div>

    <!--Snippet-->
    <div class='snippet'>
        <span class='pre-label'>HTML</span>
        <div class='snippet-box show'>
            <pre class='mb-0 language-markup'><span class='btn btn-secondary btn-copy btn-sm' data-clipboard-snippet>Copy</span><code class='language-markup'>&lt;div class=&quot;row istp-wrap no-gutters&quot;&gt;
    &lt;div class=&quot;istp col-6 col-lg-3&quot;&gt;
        &lt;div class=&quot;brick&quot;&gt;
            &lt;div class=&quot;brick-content&quot;&gt;
                &lt;div class=&quot;cover cover-overlay&quot; style=&quot;background-image:url(placeholder.jpg)&quot;&gt;&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;istp col-6 col-lg-3&quot;&gt;
        &lt;div class=&quot;brick brick-next&quot;&gt;
            &lt;div class=&quot;brick-content&quot;&gt;
                &lt;div class=&quot;cover cover-overlay&quot; style=&quot;background-image:url(placeholder.jpg)&quot;&gt;&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;istp col-6 col-lg-3&quot;&gt;
        &lt;div class=&quot;brick&quot;&gt;
            &lt;div class=&quot;brick-content&quot;&gt;
                &lt;div class=&quot;cover cover-overlay&quot; style=&quot;background-image:url(placeholder.jpg)&quot;&gt;&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;istp col-6 col-lg-3&quot;&gt;
        &lt;div class=&quot;brick brick-next&quot;&gt;
            &lt;div class=&quot;brick-content&quot;&gt;
                &lt;div class=&quot;cover cover-overlay&quot; style=&quot;background-image:url(placeholder.jpg)&quot;&gt;&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;istp col-6 col-lg-3&quot;&gt;
        &lt;div class=&quot;brick brick-next&quot;&gt;
            &lt;div class=&quot;brick-content&quot;&gt;
                &lt;div class=&quot;cover cover-overlay&quot; style=&quot;background-image:url(placeholder.jpg)&quot;&gt;&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;istp col-6 col-lg-3&quot;&gt;
        &lt;div class=&quot;brick&quot;&gt;
            &lt;div class=&quot;brick-content&quot;&gt;
                &lt;div class=&quot;cover cover-overlay&quot; style=&quot;background-image:url(placeholder.jpg)&quot;&gt;&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;istp col-6 col-lg-3&quot;&gt;
        &lt;div class=&quot;brick brick-next&quot;&gt;
            &lt;div class=&quot;brick-content&quot;&gt;
                &lt;div class=&quot;cover cover-overlay&quot; style=&quot;background-image:url(placeholder.jpg)&quot;&gt;&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;istp col-6 col-lg-3&quot;&gt;
        &lt;div class=&quot;brick&quot;&gt;
            &lt;div class=&quot;brick-content&quot;&gt;
                &lt;div class=&quot;cover cover-overlay&quot; style=&quot;background-image:url(placeholder.jpg)&quot;&gt;&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
    <!--/Snippet-->
</figure>
