<header>
    <h2 class="display-4 mb-4">Cards</h2>
    <p>Reveal's extended cards provide a flexible and extensible content container with multiple variants and options. If you need a different approach we have a bit more extended solution try <b><a href="#boxes">boxes</a></b>!</p>
</header>

<figure>
    <figcaption>Card item</figcaption>
    <div class="row">
        <div class="col col-item">
            <div class="card card-item">
                <img src="{{docs.img}}placeholder.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><a href="#">Card item title</a></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <!--Snippet-->
        <div class="col-md-12">
            <div class="snippet">
                <span class="pre-label">HTML</span>
                <div class="snippet-box show">
                    <pre class="mb-0 language-markup"><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;div class=&quot;card card-item card-clean&quot;&gt;
    &lt;img src=&quot;placeholder.jpg&quot; class=&quot;card-img-top&quot; alt=&quot;...&quot;&gt;
    &lt;div class=&quot;card-body&quot;&gt;
        &lt;h5 class=&quot;card-title&quot;&gt;&lt;a href=&quot;#&quot;&gt;Card item title&lt;/a&gt;&lt;/h5&gt;
        &lt;p class=&quot;card-text&quot;&gt;
            Some quick example text to build on the card 
            title and make up the bulk of the card&#39;s content.
        &lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>
                </div>
            </div>
        </div>
        <!--/Snippet-->
    </div>
</figure>

<figure id="#card-news">

    <figcaption>Card advanced</figcaption>

    <div class="row">
        <div class="col col-item">
            <div class="card card-fill">
                <img src="{{docs.img}}placeholder.jpg" class="card-img-top" alt="..." width="100">
                <div class="card-body">
                    <div class="pre-label mb-2">Category</div>
                    <h4 class="card-title mb-0">
                        <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
                    </h4>
                </div>
                <div class="card-footer card-footer-bottom">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item">
                                    <i class="icon icon-heart"></i> 18 likes
                                </li>
                            </ul>
                        </div>
                        <div class="col-4  text-right">
                            <a href="#" class="btn btn-icon btn-circle btn-outline-secondary btn-lg">
                                <i class="icon icon-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Snippet-->
        <div class="col-md-12">
            <div class="snippet">
                <span class="pre-label">HTML</span>
                <div class="snippet-box show">
                    <pre class="mb-0 language-markup"><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;div class=&quot;card card-fill&quot;&gt;
    &lt;img src=&quot;placeholder.jpg&quot; class=&quot;card-img-top&quot; alt=&quot;...&quot; width=&quot;100&quot;&gt;
    &lt;div class=&quot;card-body&quot;&gt;
        &lt;div class=&quot;pre-label mb-2&quot;&gt;Category&lt;/div&gt;
        &lt;h4 class=&quot;card-title mb-0&quot;&gt;
            &lt;a href=&quot;#&quot;&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit.&lt;/a&gt;
        &lt;/h4&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card-footer card-footer-bottom&quot;&gt;
        &lt;div class=&quot;row align-items-center&quot;&gt;
            &lt;div class=&quot;col-8&quot;&gt;
                &lt;ul class=&quot;list-inline mb-0&quot;&gt;
                    &lt;li class=&quot;list-inline-item&quot;&gt;
                        &lt;i class=&quot;icon icon-heart&quot;&gt;&lt;/i&gt; 18 likes
                    &lt;/li&gt;
                &lt;/ul&gt;
            &lt;/div&gt;
            &lt;div class=&quot;col-4  text-right&quot;&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn btn-icon btn-circle btn-outline-secondary btn-lg&quot;&gt;
                    &lt;i class=&quot;icon icon-arrow-right&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>
                </div>
            </div>
        </div>
        <!--/Snippet-->
    </div>
</figure>

<figure id="#card-news-reverted">

    <figcaption>Card advanced reverted</figcaption>

    <div class="row">
        <div class="col col-item">
            <div class="card card-fill">
                <div class="card-body">
                    <div class="pre-label mb-2">Category</div>
                    <h4 class="card-title mb-0">
                        <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
                    </h4>
                </div>
                <div class="card-image">
                    <img src="{{docs.img}}placeholder.jpg" class="card-img-top" alt="...">
                    <div class="card-footer card-footer-bottom">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item">
                                        <a href="#" class="text-white">
                                            <i class="icon icon-heart"></i> 18 likes
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-4  text-right">
                                <a href="#" class="btn btn-icon btn-circle btn-outline-light btn-lg">
                                    <i class="icon icon-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Snippet-->
        <div class="col-md-12">
            <div class="snippet">
                <span class="pre-label">HTML</span>
                <div class="snippet-box show">
                    <pre class="mb-0 language-markup"><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;div class=&quot;card card-fill&quot;&gt;
    &lt;div class=&quot;card-body&quot;&gt;
        &lt;div class=&quot;pre-label mb-2&quot;&gt;Category&lt;/div&gt;
        &lt;h4 class=&quot;card-title mb-0&quot;&gt;
            &lt;a href=&quot;#&quot;&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit.&lt;/a&gt;
        &lt;/h4&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card-image&quot;&gt;
        &lt;img src=&quot;placeholder.jpg&quot; class=&quot;card-img-top&quot; alt=&quot;...&quot;&gt;
        &lt;div class=&quot;card-footer card-footer-bottom&quot;&gt;
            &lt;div class=&quot;row align-items-center&quot;&gt;
                &lt;div class=&quot;col-8&quot;&gt;
                    &lt;ul class=&quot;list-inline mb-0&quot;&gt;
                        &lt;li class=&quot;list-inline-item&quot;&gt;
                            &lt;a href=&quot;#&quot; class=&quot;text-white&quot;&gt;
                                &lt;i class=&quot;icon icon-heart&quot;&gt;&lt;/i&gt; 18 likes
                            &lt;/a&gt;
                        &lt;/li&gt;
                    &lt;/ul&gt;
                &lt;/div&gt;
                &lt;div class=&quot;col-4  text-right&quot;&gt;
                    &lt;a href=&quot;#&quot; class=&quot;btn btn-icon btn-circle btn-outline-light btn-lg&quot;&gt;
                        &lt;i class=&quot;icon icon-arrow-right&quot;&gt;&lt;/i&gt;
                    &lt;/a&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>
                </div>
            </div>
        </div>
    </div>
    <!--/Snippet-->
</figure>

<figure id="#card-box">

    <figcaption>Card Box</figcaption>

    <div class="row">

        <div class="col col-item">
            <div class="card card-box">
                <div class="card-image">
                    <img src="{{docs.img}}placeholder.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="pre-label pre-label-primary mb-2">Category</div>
                        <h5 class="card-title mb-0">
                            <a href="#" class="text-white">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>

        <!--Snippet-->
        <div class="col-md-12">
            <div class="snippet">
                <span class="pre-label">HTML</span>
                <div class="snippet-box show">
                    <pre class="mb-0 language-markup"><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;div class=&quot;card card-box&quot;&gt;
    &lt;div class=&quot;card-image&quot;&gt;
        &lt;img src=&quot;placeholder.jpg&quot; class=&quot;card-img-top&quot; alt=&quot;...&quot;&gt;
        &lt;div class=&quot;card-body&quot;&gt;
            &lt;div class=&quot;pre-label pre-label-primary mb-2&quot;&gt;Category&lt;/div&gt;
            &lt;h5 class=&quot;card-title mb-0&quot;&gt;
                &lt;a href=&quot;#&quot; class=&quot;text-white&quot;&gt;
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                &lt;/a&gt;
            &lt;/h5&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>
                </div>
            </div>
        </div>
        <!--/Snippet-->

    </div>
</figure>

<figure id="#card-box-overlay">
    <figcaption>Card box overlay</figcaption>

    <div class="row">
        <div class="col col-item">
            <div class="card card-box">
                <div class="card-image">
                    <img src="{{docs.img}}placeholder.jpg" class="card-img-top" alt="...">
                    <div class="card-body card-body-top text-white">
                        <div class="pre-label pre-label-primary mb-2">Category</div>
                        <h4 class="card-title mb-3">
                            <a href="#" class="text-white">Quick brown fox</a>
                        </h4>
                        <div class="card-text">
                            <p>
                                Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Snippet-->
        <div class="col-md-12">
            <div class="snippet">
                <span class="pre-label">HTML</span>
                <div class="snippet-box show">
                    <pre class="mb-0 language-markup"><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;div class=&quot;card card-box&quot;&gt;
    &lt;div class=&quot;card-image&quot;&gt;
        &lt;img src=&quot;placeholder.jpg&quot; class=&quot;card-img-top&quot; alt=&quot;...&quot;&gt;
        &lt;div class=&quot;card-body card-body-top text-white&quot;&gt;
            &lt;div class=&quot;pre-label pre-label-primary mb-2&quot;&gt;Category&lt;/div&gt;
            &lt;h4 class=&quot;card-title mb-3&quot;&gt;
                &lt;a href=&quot;#&quot; class=&quot;text-white&quot;&gt;Quick brown fox&lt;/a&gt;
            &lt;/h4&gt;
            &lt;div class=&quot;card-text&quot;&gt;
                &lt;p&gt;
                    Duis aute irure dolor in reprehenderit in voluptate velit esse 
                    cillum dolore eu fugiat nulla pariatur
                &lt;/p&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>
                </div>
            </div>
        </div>
        <!--/Snippet-->
    </div>
</figure>

<figure id="#card-price">

    <figcaption>Card price</figcaption>

    <div class="row">
        <div class="col col-item">
            <div class="card card-fill br-lg">
                <img src="{{docs.img}}placeholder.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Luxury apartment</h4>
                    <p class="pre-label">Family room</p>
                </div>
                <div class="card-footer card-footer-bottom">
                    <div class="row align-items-center">
                        <div class="col-6"><a href="#" class="btn btn-primary">Book now</a></div>
                        <div class="col-6 text-right">
                            <div class="card-price">$ 240,00</div>
                            <small class="text-uppercase">Per night</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Snippet-->
        <div class="col-md-12">
            <div class="snippet">
                <span class="pre-label">HTML</span>
                <div class="snippet-box show">
                    <pre class="mb-0 language-markup"><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;div class=&quot;card card-fill br-lg&quot;&gt;
    &lt;img src=&quot;placeholder.jpg&quot; class=&quot;card-img-top&quot; alt=&quot;...&quot;&gt;
    &lt;div class=&quot;card-body&quot;&gt;
        &lt;h4 class=&quot;card-title&quot;&gt;Luxury apartment&lt;/h4&gt;
        &lt;p class=&quot;card-text&quot;&gt;Family room&lt;/p&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card-footer card-footer-bottom&quot;&gt;
        &lt;div class=&quot;row align-items-center&quot;&gt;
            &lt;div class=&quot;col-6&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;btn btn-main&quot;&gt;Book now&lt;/a&gt;&lt;/div&gt;
            &lt;div class=&quot;col-6 text-right&quot;&gt;
                &lt;div class=&quot;card-price&quot;&gt;$ 240,00&lt;/div&gt;
                &lt;small class=&quot;text-uppercase&quot;&gt;Per night&lt;/small&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>
                </div>
            </div>
        </div>
        <!--/Snippet-->
    </div>
</figure>

<figure id="#card-date">
    <figcaption>Card date</figcaption>
    <div class="row">
        <div class="col col-item">
            <div class="card card-hover-rise br-sm">
                <div class="card-image">
                    <img src="{{docs.img}}placeholder.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <div class="card-date">
                        <span>22</span>
                        <span>05</span>
                        <span>2020</span>
                    </div>
                    <p class="pre-label">Category</p>
                    <h4 class="card-title"><a href="#">Everything you need to know about templates</a></h4>
                </div>
            </div>
        </div>
        <!--Snippet-->
        <div class="col-md-12">
            <div class="snippet">
                <span class="pre-label">HTML</span>
                <div class="snippet-box show">
                    <pre class="mb-0 language-markup"><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;div class=&quot;card card-hover-rise br-sm&quot;&gt;
    &lt;div class=&quot;card-image&quot;&gt;
        &lt;img src=&quot;placeholder.jpg&quot; class=&quot;card-img-top&quot; alt=&quot;...&quot;&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card-body&quot;&gt;
        &lt;div class=&quot;card-date&quot;&gt;
            &lt;span&gt;22&lt;/span&gt;
            &lt;span&gt;05&lt;/span&gt;
            &lt;span&gt;2020&lt;/span&gt;
        &lt;/div&gt;
        &lt;p class=&quot;pre-label&quot;&gt;Category&lt;/p&gt;
        &lt;h4 class=&quot;card-title&quot;&gt;&lt;a href=&quot;#&quot;&gt;Everything you need to know about templates&lt;/a&gt;&lt;/h4&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>
                </div>
            </div>
        </div>
        <!--/Snippet-->
    </div>
</figure>

<figure id="#simple-card-clean">

    <figcaption>Clean card</figcaption>

    <div class="row">

        <div class="col col-item">
            <div class="card">
                <div class="card-image lift br-sm">
                    <img src="{{docs.img}}placeholder.jpg" class="card-img-top" alt="...">
                </div>
                <div class="pt-3">
                    <div class="mb-2">
                        <small class="pre-label">Jan, 15, 2020</small>
                    </div>
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <!--Snippet-->
        <div class="col-md-12">
            <div class="snippet">
                <span class="pre-label">HTML</span>
                <div class="snippet-box show">
                    <pre class="mb-0 language-markup"><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;div class=&quot;card&quot;&gt;
    &lt;div class=&quot;card-image lift br-sm&quot;&gt;
        &lt;img src=&quot;placeholder.jpg&quot; class=&quot;card-img-top&quot; alt=&quot;&quot;&gt;
    &lt;/div&gt;
    &lt;div class=&quot;pt-3&quot;&gt;
        &lt;div class=&quot;mb-2&quot;&gt;
            &lt;small class=&quot;pre-label&quot;&gt;...&lt;/small&gt;
        &lt;/div&gt;
        &lt;h5 class=&quot;card-title&quot;&gt;Card title&lt;/h5&gt;
        &lt;p class=&quot;card-text&quot;&gt;Some quick example...&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>
                </div>
            </div>
        </div>
        <!--/Snippet-->
    </div>

</figure>

<figure id="#simple-card">

    <figcaption>Simple card</figcaption>

    <div class="row">

        <div class="col col-item">
            <div class="card card-fill br-sm">
                <img src="{{docs.img}}placeholder.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Button</a>
                </div>
            </div>
        </div>
        <!--Snippet-->
        <div class="col-md-12">
            <div class="snippet">
                <span class="pre-label">HTML</span>
                <div class="snippet-box show">
                    <pre class="mb-0 language-markup"><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;div class=&quot;card card-fill br-sm&quot;&gt;
    &lt;img src=&quot;placeholder.jpg&quot; class=&quot;card-img-top&quot; alt=&quot;...&quot;&gt;
    &lt;div class=&quot;card-body&quot;&gt;
        &lt;h4 class=&quot;card-title&quot;&gt;Card title&lt;/h4&gt;
        &lt;p class=&quot;card-text&quot;&gt;Some quick example text to build on the card title and make up the bulk of the card&#39;s content.&lt;/p&gt;
        &lt;a href=&quot;#&quot; class=&quot;btn btn-primary&quot;&gt;Button&lt;/a&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
                </div>
            </div>
        </div>
        <!--/Snippet-->
    </div>

</figure>


<figure id="#simple-card-header">

    <figcaption>Simple card header</figcaption>

    <div class="row">

        <div class="col col-item">
            <div class="card card-fill text-center">
                <div class="card-header card-dim text-success">
                    Featured
                </div>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title.</p>
                    <a href="#" class="btn btn-outline-primary">Go somewhere</a>
                </div>
                <div class="card-footer card-dim text-muted">
                    2 days ago
                </div>
            </div>
        </div>

        <!--Snippet-->
        <div class="col-md-12">
            <div class="snippet">
                <span class="pre-label">HTML</span>
                <div class="snippet-box show">
                    <pre class="mb-0 language-markup"><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;div class=&quot;card card-fill text-center&quot;&gt;
    &lt;div class=&quot;card-header&quot;&gt;Featured&lt;/div&gt;
    &lt;div class=&quot;card-body&quot;&gt;
        &lt;h5 class=&quot;card-title&quot;&gt;Card title&lt;/h5&gt;
        &lt;p class=&quot;card-text&quot;&gt;Some quick example text to build on the card title.&lt;/p&gt;
        &lt;a href=&quot;#&quot; class=&quot;btn btn-primary&quot;&gt;Go somewhere&lt;/a&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card-footer text-muted&quot;&gt;2 days ago&lt;/div&gt;
&lt;/div&gt;</code></pre>
                </div>
            </div>
        </div>
        <!--/Snippet-->
    </div>

</figure>

<figure id="#card-stacked">

    <figcaption>Card stacked</figcaption>

    <div class="row">
        <div class="col col-item">
            <div class="card card-stacked text-center">
                <div class="card-body">
                    <i class="icon-link2 icon-boxed icon-boxed-lg mb-3 bg-blue text-white"></i>
                    <h5 class="card-title mb-3">Small card</h5>
                    <p class="card-text mb-3">Some quick example text to build on the card title</p>
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>
        <!--Snippet-->
        <div class="col-md-12">
            <div class="snippet">
                <span class="pre-label">HTML</span>
                <div class="snippet-box show">
                    <pre class="mb-0 language-markup"><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;div class=&quot;card card-stacked text-center&quot;&gt;
    &lt;div class=&quot;card-body&quot;&gt;
        &lt;i class=&quot;icon-link2 icon-boxed icon-boxed-lg mb-3 bg-blue text-white&quot;&gt;&lt;/i&gt;
        &lt;h5 class=&quot;card-title mb-3&quot;&gt;Small card&lt;/h5&gt;
        &lt;p class=&quot;card-text mb-3&quot;&gt;Some quick example text to build on the card title&lt;/p&gt;
        &lt;a href=&quot;#&quot;&gt;Read More&lt;/a&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>
                </div>
            </div>
        </div>
        <!--/Snippet-->
    </div>
</figure>
