<header>
    <h2 class="display-4 mb-4">Carousels</h2>
    <p>A slideshow component for cycling through elements-images or slides of text-like a carousel.</p>
</header>

<figure>
    <figcaption>Sizing and positioning</figcaption>
    <strong>Height options</strong>
    <p>
        Adjust slider height with extended classes <code>.owl-small</code>, <code>.owl-large</code> and <code>.owl-fullscreen</code>.
    </p>

    <strong>Positioning owl-items</strong>
    <p>
        Default position is set to top. Adjust items positioning with <code>.owl-bottom</code> and <code>.owl-center</code> class.
    </p>

    <strong>Arrows placement</strong>
    <p>
        Arrows can be placed outside, inside or in the middle of slider. Middle is <strong>default</strong>, <code>.owl-nav-inner</code> & <code>.owl-nav-clean</code> can be used.
    </p>
</figure>

<figure>
    <figcaption>Default example</figcaption>
    <p>Adjust slider height and display preview with predefined classes.</p>
    <div class="owl-carousel" data-items="3" data-nav="true" data-margin="15" data-dots="true">
        <img src="{{docs.img}}placeholder.jpg" alt="" />
        <img src="{{docs.img}}placeholder.jpg" alt="" />
        <img src="{{docs.img}}placeholder.jpg" alt="" />
        <img src="{{docs.img}}placeholder.jpg" alt="" />
    </div>

    <p></p>

    <!--Snippet-->
    <div class="clearfix">
        <div class="snippet">
            <span class="pre-label">Code</span>
            <div class="snippet-box show">
                <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;div class=&quot;owl-carousel&quot; data-items=&quot;3&quot; data-nav=&quot;true&quot; data-margin=&quot;15&quot; data-dots=&quot;true&quot;&gt;
    &lt;img src=&quot;image-path&quot; alt=&quot;&quot; /&gt;
    &lt;img src=&quot;image-path&quot; alt=&quot;&quot; /&gt;
    &lt;img src=&quot;image-path&quot; alt=&quot;&quot; /&gt;
    &lt;img src=&quot;image-path&quot; alt=&quot;&quot; /&gt;
&lt;/div&gt;
</code></pre>
            </div>
        </div>
    </div>
    <!--/Snippet-->
</figure>

<figure>
    <figcaption>Default options</figcaption>
    <p class="mb-4">If options are not included defaults will be applied. Use one of these data attributes to overwrite defaults!</p>
    <div class="row">
        <div class="col-3 py-2">
            <code>data-autoplay="false"</code>
        </div>
        <div class="col-9 py-2">
            <p>Enable autoplay</p>
        </div>
        <div class="col-3 py-2">
            <code>data-items="1"</code>
        </div>
        <div class="col-9 py-2">
            <p>Number of slides</p>
        </div>
        <div class="col-3 py-2">
            <code>data-nav="false"</code>
        </div>
        <div class="col-9 py-2">
            <p>Navigation</p>
        </div>
        <div class="col-3 py-2">
            <code>data-margin="15"</code>
        </div>
        <div class="col-9 py-2">
            <p>Space between items</p>
        </div>
        <div class="col-3 py-2">
            <code>data-dots="false"</code>
        </div>
        <div class="col-9 py-2">
            <p>Pagination</p>
        </div>
    </div>
</figure>

<figure>
    <figcaption>Theming & colors</figcaption>
    <p>Adjust colors on carousel with predefined classes. Default color <code>.owl-secondary</code> no need to apply.</p>

    <div class="mb-4">
        <h5>Inner arrows</h5>
        <p>For clean inner style use <code>.owl-nav-clean</code> class</p>
    </div>

    <div class="owl-carousel owl-nav-clean mb-5" data-items="2" data-nav="true" data-margin="15" data-dots="true">
        <div class="p-5 bg-dark text-white">
            .owl-carousel .owl-nav-clean
        </div>
        <div class="p-5 bg-dark text-white">
            .owl-carousel .owl-nav-clean
        </div>
        <div class="p-5 bg-dark text-white">
            .owl-carousel .owl-nav-clean
        </div>
        <div class="p-5 bg-dark text-white">
            .owl-carousel .owl-nav-clean
        </div>
        <div class="p-5 bg-dark text-white">
            .owl-carousel .owl-nav-clean
        </div>
    </div>

    <!--Snippet-->
    <div class="clearfix mb-5">
        <div class="snippet">
            <span class="pre-label">Code</span>
            <div class="snippet-box show">
                <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;!--Clean style & Inner arrows position--&gt;
&lt;div class=&quot;owl-carousel owl-nav-clean&quot;&gt;
    ...
&lt;/div&gt;
</code></pre>
            </div>
        </div>
    </div>
    <!--/Snippet-->

    <div class="mb-4">
        <h5>Inner arrows with color variations</h5>
        <p>Inner arrows also can be combined with predefined colors</p>
    </div>

    <div class="owl-carousel owl-nav-inner owl-danger mb-5" data-items="2" data-nav="true" data-margin="15" data-dots="true">
        <div class="p-5 bg-dark text-white">
            .owl-carousel .owl-nav-inner .owl-danger
        </div>
        <div class="p-5 bg-dark text-white">
            .owl-carousel .owl-nav-inner .owl-danger
        </div>
        <div class="p-5 bg-dark text-white">
            .owl-carousel .owl-nav-inner .owl-danger
        </div>
        <div class="p-5 bg-dark text-white">
            .owl-carousel .owl-nav-inner .owl-danger
        </div>
        <div class="p-5 bg-dark text-white">
            .owl-carousel .owl-nav-inner .owl-danger
        </div>
    </div>

    <!--Snippet-->
    <div class="clearfix mb-5">
        <div class="snippet">
            <span class="pre-label">Code</span>
            <div class="snippet-box show">
                <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;!--Inner arrows with color theming--&gt;
&lt;div class=&quot;owl-carousel owl-nav-inner owl-danger&quot;&gt;
    ...
&lt;/div&gt;
</code></pre>
            </div>
        </div>
    </div>
    <!--/Snippet-->

    <div class="mb-4">
        <h5>Color variations</h5>
        <p>For theming we have seven different color types.</p>
    </div>
    <div class="owl-carousel owl-primary mb-5" data-items="2" data-nav="true" data-margin="15" data-dots="true">
        <div class="p-5 bg-white">
            .owl-carousel .owl-primary
        </div>
        <div class="p-5 bg-white">
            .owl-carousel .owl-primary
        </div>
        <div class="p-5 bg-white">
            .owl-carousel .owl-primary
        </div>
        <div class="p-5 bg-white">
            .owl-carousel .owl-primary
        </div>
        <div class="p-5 bg-white">
            .owl-carousel .owl-primary
        </div>
    </div>

    <div class="owl-carousel owl-success mb-5" data-items="2" data-nav="true" data-margin="15" data-dots="true">
        <div class="p-5 bg-white">
            .owl-carousel .owl-success
        </div>
        <div class="p-5 bg-white">
            .owl-carousel .owl-success
        </div>
        <div class="p-5 bg-white">
            .owl-carousel .owl-success
        </div>
        <div class="p-5 bg-white">
            .owl-carousel .owl-success
        </div>
        <div class="p-5 bg-white">
            .owl-carousel .owl-success
        </div>
    </div>

    <div class="owl-carousel owl-danger mb-5" data-items="2" data-nav="true" data-margin="15" data-dots="true">
        <div class="p-5 bg-white">
            .owl-carousel .owl-danger
        </div>
        <div class="p-5 bg-white">
            .owl-carousel .owl-danger
        </div>
        <div class="p-5 bg-white">
            .owl-carousel .owl-danger
        </div>
        <div class="p-5 bg-white">
            .owl-carousel .owl-danger
        </div>
        <div class="p-5 bg-white">
            .owl-carousel .owl-danger
        </div>
    </div>

    <div class="owl-carousel owl-warning mb-5" data-items="2" data-nav="true" data-margin="15" data-dots="true">
        <div class="p-5 bg-white">
            .owl-carousel .owl-warning
        </div>
        <div class="p-5 bg-white">
            .owl-carousel .owl-warning
        </div>
        <div class="p-5 bg-white">
            .owl-carousel .owl-warning
        </div>
        <div class="p-5 bg-white">
            .owl-carousel .owl-warning
        </div>
        <div class="p-5 bg-white">
            .owl-carousel .owl-warning
        </div>
    </div>

    <div class="owl-carousel owl-info mb-5" data-items="2" data-nav="true" data-margin="15" data-dots="true">
        <div class="p-5 bg-white">
            .owl-carousel .owl-info
        </div>
        <div class="p-5 bg-white">
            .owl-carousel .owl-info
        </div>
        <div class="p-5 bg-white">
            .owl-carousel .owl-info
        </div>
        <div class="p-5 bg-white">
            .owl-carousel .owl-info
        </div>
        <div class="p-5 bg-white">
            .owl-carousel .owl-info
        </div>
    </div>

    <div class="owl-carousel owl-dark mb-5" data-items="2" data-nav="true" data-margin="15" data-dots="true">
        <div class="p-5 bg-white">
            .owl-carousel .owl-dark
        </div>
        <div class="p-5 bg-white">
            .owl-carousel .owl-dark
        </div>
        <div class="p-5 bg-white">
            .owl-carousel .owl-dark
        </div>
        <div class="p-5 bg-white">
            .owl-carousel .owl-dark
        </div>
        <div class="p-5 bg-white">
            .owl-carousel .owl-dark
        </div>
    </div>

    <div class="owl-carousel owl-light mb-5" data-items="2" data-nav="true" data-margin="15" data-dots="true">
        <div class="p-5 bg-white">
            .owl-carousel .owl-light
        </div>
        <div class="p-5 bg-white">
            .owl-carousel .owl-light
        </div>
        <div class="p-5 bg-white">
            .owl-carousel .owl-light
        </div>
        <div class="p-5 bg-white">
            .owl-carousel .owl-light
        </div>
        <div class="p-5 bg-white">
            .owl-carousel .owl-light
        </div>
    </div>

    <!--Snippet-->
    <div class="clearfix">
        <div class="snippet">
            <span class="pre-label">Code</span>
            <div class="snippet-box show">
                <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;!--Theme colors--&gt;
&lt;div class=&quot;owl-carousel owl-primary&quot;&gt;
    ...
&lt;/div&gt;
                                                     
&lt;div class=&quot;owl-carousel owl-success&quot;&gt;
    ...
&lt;/div&gt;

&lt;div class=&quot;owl-carousel owl-success&quot;&gt;
    ...
&lt;/div&gt;

&lt;div class=&quot;owl-carousel owl-danger&quot;&gt;
    ...
&lt;/div&gt;

&lt;div class=&quot;owl-carousel owl-warning&quot;&gt;
    ...
&lt;/div&gt;

&lt;div class=&quot;owl-carousel owl-info&quot;&gt;
    ...
&lt;/div&gt;

&lt;div class=&quot;owl-carousel owl-dark&quot;&gt;
    ...
&lt;/div&gt;

&lt;div class=&quot;owl-carousel owl-light&quot;&gt;
    ...
&lt;/div&gt;</code></pre>
            </div>
        </div>
    </div>
    <!--/Snippet-->
</figure>

<figure>
    <figcaption>Carousel with cards</figcaption>
    <p>
        Use one of exisitng component and extend it with carousel.
        See more about <b><a href="#cards">cards</a></b> and
        <b><a href="#boxes"></a>boxes</b> </a>
    </p>

    <div class="owl-carousel" data-items="2" data-nav="true" data-margin="5" data-dots="true">
        <div class="card card-box">
            <div class="card-image">
                <img src="{{docs.img}}placeholder.jpg" class="card-img-top" alt="...">
                <div class="card-body card-body-top text-white">
                    <div class="pre-label mb-2">Category</div>
                    <h4 class="card-title mb-3"><a href="#" class="text-white">Quick brown fox</a></h4>
                    <div class="card-text">
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-box">
            <div class="card-image">
                <img src="{{docs.img}}placeholder.jpg" class="card-img-top" alt="...">
                <div class="card-body card-body-top text-white">
                    <div class="pre-label mb-2">Category</div>
                    <h4 class="card-title mb-3"><a href="#" class="text-white">Quick brown fox</a></h4>
                    <div class="card-text">
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-box">
            <div class="card-image">
                <img src="{{docs.img}}placeholder.jpg" class="card-img-top" alt="...">
                <div class="card-body card-body-top text-white">
                    <div class="pre-label mb-2">Category</div>
                    <h4 class="card-title mb-3"><a href="#" class="text-white">Quick brown fox</a></h4>
                    <div class="card-text">
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-box">
            <div class="card-image">
                <img src="{{docs.img}}placeholder.jpg" class="card-img-top" alt="...">
                <div class="card-body card-body-top text-white">
                    <div class="pre-label mb-2">Category</div>
                    <h4 class="card-title mb-3"><a href="#" class="text-white">Quick brown fox</a></h4>
                    <div class="card-text">
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Snippet-->
    <div class="clearfix">
        <div class="snippet">
            <span class="pre-label">HTML</span>
            <div class="snippet-box show">
                <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;div class=&quot;owl-carousel&quot; data-items=&quot;2&quot; data-nav=&quot;true&quot; data-margin=&quot;5&quot; data-dots=&quot;true&quot;&gt;
    &lt;!--Item--&gt;
    &lt;div class=&quot;card card-box&quot;&gt;
        &lt;div class=&quot;card-image&quot;&gt;
            &lt;img src=&quot;images/placeholder.jpg&quot; class=&quot;card-img-top&quot; alt=&quot;...&quot;&gt;
            &lt;div class=&quot;card-body card-body-top text-white&quot;&gt;
                &lt;div class=&quot;pre-label mb-2&quot;&gt;Label&lt;/div&gt;
                &lt;h4 class=&quot;card-title mb-3&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;text-white&quot;&gt;Title&lt;/a&gt;&lt;/h4&gt;
                &lt;div class=&quot;card-text&quot;&gt;
                    &lt;p&gt;Text...&lt;/p&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;!--Item--&gt;
    &lt;div class=&quot;card card-box&quot;&gt;
        ...
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>
            </div>
        </div>
    </div>
    <!--/Snippet-->
</figure>

<figure>
    <figcaption>Slider with animated captions</figcaption>
    <p class="mb-4">
        Be sure to add <code>animated</code> class on desired element.
        Data atribute <code>data-start</code> will set animation style.
        Read more about class name animations <a href="https://github.com/daneden/animate.css/#animations" target="_blank">here.</a>
    </p>
    <div class="owl-carousel owl-small" data-nav="true">
        <!--Slide 1-->
        <div class="slide p-5 d-flex align-items-center" style="background-image:url({{docs.img}}placeholder.jpg)">
            <div class="w-100 text-center text-white">
                <h4 class="animated" data-start="fadeInDown">Quick brown fox jumped on the street</h4>
                <p class="animated" data-start="fadeInUp">A slideshow component for cycling through elements</p>
            </div>
        </div>
        <!--Slide 2-->
        <div class="slide p-5" style="background-image:url({{docs.img}}placeholder.jpg)">
            <div class="w-100 text-white">
                <h4 class="animated" data-start="fadeInDown">Quick brown fox jumped on the street</h4>
                <p class="animated" data-start="fadeInUp">A slideshow component for cycling through elements</p>
            </div>
        </div>
    </div>
    <!--Snippet-->
    <div class="clearfix">
        <div class="snippet">
            <span class="pre-label">HTML</span>
            <div class="snippet-box show">
                <pre><span class="btn btn-secondary btn-copy btn-sm" data-clipboard-snippet>Copy</span><code class="language-markup">&lt;div class=&quot;owl-carousel owl-sm&quot; data-nav=&quot;true&quot;&gt;
    &lt;!--Slide 1--&gt;
    &lt;div class=&quot;slide p-5 d-flex align-items-center&quot; style=&quot;background-image:url(placeholder.jpg)&quot;&gt;
        &lt;div class=&quot;w-100 text-center text-white&quot;&gt;
            &lt;h4 class=&quot;animated&quot; data-start=&quot;fadeInDown&quot;&gt;Quick brown fox jumped on the street&lt;/h4&gt;
            &lt;p class=&quot;animated&quot; data-start=&quot;fadeInUp&quot;&gt;A slideshow component for cycling through elements&lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;!--Slide 2--&gt;
    &lt;div class=&quot;slide p-5&quot; style=&quot;background-image:url(placeholder.jpg)&quot;&gt;
        &lt;div class=&quot;w-100 text-white&quot;&gt;
            &lt;h4 class=&quot;animated&quot; data-start=&quot;fadeInDown&quot;&gt;Quick brown fox jumped on the street&lt;/h4&gt;
            &lt;p class=&quot;animated&quot; data-start=&quot;fadeInUp&quot;&gt;A slideshow component for cycling through elements&lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>
            </div>
        </div>
    </div>
    <!--/Snippet-->
</figure>
