<header>
    <h2 class="display-4 mb-4">Cover</h2>
    <p>Cover element is predefined property is used to specify how and <code>&lt;img&gt;</code> should be resized to fit its container. There are several different options so let's see an examples!</p>
</header>

<figure>
    <figcaption>Default preview</figcaption>
    <p>Use <code>.cover</code> class to set background image</p>

    <div class="cover br-sm" style="background-image:url({{docs.img}}placeholder-2.jpg)">
        <div class="p-6 text-white">
            <h4>Cover element</h4>
            <p>.cover</p>
        </div>
    </div>

    <!--Snippet-->
    <div class='snippet'>
        <span class='pre-label'>HTML</span>
        <div class='snippet-box show'>
            <pre class='mb-0 language-markup'><span class='btn btn-secondary btn-copy btn-sm' data-clipboard-snippet>Copy</span><code class='language-markup'>&lt;div class=&quot;cover&quot; style=&quot;background-image:url(placeholder.jpg)&quot;&gt;
    &lt;div class=&quot;p-6 text-white&quot;&gt;
        &lt;h4&gt;Content title&lt;/h4&gt;
        &lt;p&gt;Example text&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
    <!--/Snippet-->
</figure>

<figure>
    <figcaption>Cover overlay</figcaption>
    <p>Cover overlay can be useed as background element which is positioned as <code>absolute</code> element.</p>
    <p>To ensure covering object, create element with <code>relative</code> property.</p>

    <div class="position-relative">
        <div class="cover cover-overlay br-sm" style="background-image:url({{docs.img}}placeholder.jpg)"></div>
        <div class="p-6 text-white position-relative">
            <h4>Content box relative</h4>
            <p>Example text</p>
        </div>
    </div>

    <!--Snippet-->
    <div class='snippet'>
        <span class='pre-label'>HTML</span>
        <div class='snippet-box show'>
            <pre class='mb-0 language-markup'><span class='btn btn-secondary btn-copy btn-sm' data-clipboard-snippet>Copy</span><code class='language-markup'>&lt;div class=&quot;position-relative&quot;&gt;
    &lt;div class=&quot;cover cover-overlay&quot; style=&quot;background-image:url(placeholder.jpg)&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;p-6 text-white position-relative&quot;&gt;
        &lt;h4&gt;Content box relative&lt;/h4&gt;
        &lt;p&gt;Example text&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
    <!--/Snippet-->

</figure>

<figure>
    <figcaption>Gradient horizontal</figcaption>
    <p>We have two states with overlay property <code>.cover-gradient-horizontal</code> and <code>.cover-gradient-vertical</code>. Default horizontal gradient is set from left to right <code>.cover-gradient-horizontal</code>, if you wan't to reverse the state use <code>.over-gradient-horizontal-right</code> class</p>

    <div class="row mb-4">
        <div class="col-md-6">
            <div class="position-relative bg-black br-sm">
                <div class="cover cover-overlay cover-gradient-horizontal" style="background-image:url({{docs.img}}placeholder-3.jpg)"></div>
                <div class="p-6 text-white position-relative">
                    <h4>Horizontal gradeint left to right</h4>
                    <p>.cover-gradient-horizontal</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="position-relative bg-black br-sm">
                <div class="cover cover-overlay cover-gradient-horizontal-right" style="background-image:url({{docs.img}}placeholder-4.jpg)"></div>
                <div class="p-6 text-white position-relative">
                    <h4>Horizontal gradeint right to left</h4>
                    <p>.cover-gradient-horizontal-right</p>
                </div>
            </div>
        </div>
    </div>

    <!--Snippet-->
    <div class='snippet'>
        <span class='pre-label'>HTML</span>
        <div class='snippet-box show'>
            <pre class='mb-0 language-markup'><span class='btn btn-secondary btn-copy btn-sm' data-clipboard-snippet>Copy</span><code class='language-markup'>&lt;!--Left to right--&gt;
&lt;div class=&quot;position-relative bg-black&quot;&gt;
    &lt;div class=&quot;cover cover-overlay cover-gradient-horizontal&quot; style=&quot;background-image:url(placeholder.jpg)&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;p-6 text-white position-relative&quot;&gt;
        &lt;h4&gt;Horizontal gradeint left to right&lt;/h4&gt;
        &lt;p&gt;.cover-gradient-horizontal&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;!--Right to left--&gt;
&lt;div class=&quot;position-relative bg-black&quot;&gt;
    &lt;div class=&quot;cover cover-overlay cover-gradient-horizontal-right&quot; style=&quot;background-image:url(placeholder.jpg)&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;p-6 text-white position-relative&quot;&gt;
        &lt;h4&gt;Horizontal gradeint right to left&lt;/h4&gt;
        &lt;p&gt;.cover-gradient-horizontal-right&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
    <!--/Snippet-->

</figure>

<figure>
    <figcaption>Gradient vertical</figcaption>
    <p>Same thing goes for vertical setup. Default is <code>.cover-gradient-vertical</code>, use <code>.cover-gradient-vertical-bottom</code> class to inverse gradient position</p>

    <div class="row">
        <div class="col-md-6">
            <div class="position-relative bg-black br-sm">
                <div class="cover cover-overlay cover-gradient-vertical" style="background-image:url({{docs.img}}placeholder-2.jpg)"></div>
                <div class="p-6 text-white position-relative">
                    <h4>Vertical gradient top to bottom</h4>
                    <p>.cover-gradient-vertical</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="position-relative bg-black br-sm">
                <div class="cover cover-overlay cover-gradient-vertical-bottom" style="background-image:url({{docs.img}}placeholder-3.jpg)"></div>
                <div class="p-6 text-white position-relative">
                    <h4>Vertical gradient bottom to top</h4>
                    <p>.cover-gradient-vertical-bottom</p>
                </div>
            </div>
        </div>
    </div>

    <!--Snippet-->
    <div class='snippet'>
        <span class='pre-label'>HTML</span>
        <div class='snippet-box show'>
            <pre class='mb-0 language-markup'><span class='btn btn-secondary btn-copy btn-sm' data-clipboard-snippet>Copy</span><code class='language-markup'>&lt;!--Top to bottom--&gt;
&lt;div class=&quot;position-relative bg-black&quot;&gt;
    &lt;div class=&quot;cover cover-overlay cover-gradient-vertical&quot; style=&quot;background-image:url(placeholder.jpg)&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;p-6 text-white position-relative&quot;&gt;
        &lt;h4&gt;Vertical gradient top to bottom&lt;/h4&gt;
        &lt;p&gt;.cover-gradient-vertical&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;!--Bottom to top--&gt;
&lt;div class=&quot;position-relative bg-black&quot;&gt;
    &lt;div class=&quot;cover cover-overlay cover-gradient-vertical-bottom&quot; style=&quot;background-image:url(placeholder.jpg)&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;p-6 text-white position-relative&quot;&gt;
        &lt;h4&gt;Vertical gradient bottom to top&lt;/h4&gt;
        &lt;p&gt;.cover-gradient-vertical-bottom&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
    <!--/Snippet-->
</figure>

<figure>
    <figcaption>Adjusting background color</figcaption>

    <p>Here is an example how to adjust background color</p>

    <div class="row">
        <div class="col-3">
            <div class="position-relative bg-primary br-sm">
                <div class="cover cover-overlay cover-gradient-vertical" style="background-image:url({{docs.img}}placeholder-wide.jpg)"></div>
                <div class="px-4 py-8 text-white position-relative">
                    .bg-primary
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="position-relative bg-warning br-sm">
                <div class="cover cover-overlay cover-gradient-vertical" style="background-image:url({{docs.img}}placeholder-wide.jpg)"></div>
                <div class="px-4 py-8 text-white position-relative">
                    .bg-warning
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="position-relative bg-danger br-sm">
                <div class="cover cover-overlay cover-gradient-vertical" style="background-image:url({{docs.img}}placeholder-wide.jpg)"></div>
                <div class="px-4 py-8 text-white position-relative">
                    .bg-danger
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="position-relative bg-info br-sm">
                <div class="cover cover-overlay cover-gradient-vertical" style="background-image:url({{docs.img}}placeholder-wide.jpg)"></div>
                <div class="px-4 py-8 text-white position-relative">
                    .bg-info
                </div>
            </div>
        </div>
    </div>

    <!--Snippet-->
    <div class='snippet'>
        <span class='pre-label'>HTML</span>
        <div class='snippet-box show'>
            <pre class='mb-0 language-markup'><span class='btn btn-secondary btn-copy btn-sm' data-clipboard-snippet>Copy</span><code class='language-markup'>&lt;!--bg-primary--&gt;
&lt;div class=&quot;position-relative bg-primary&quot;&gt;
    &lt;div class=&quot;cover cover-overlay cover-gradient-vertical&quot; style=&quot;background-image:url(placeholder.jpg)&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;text-white position-relative&quot;&gt;.bg-primary&lt;/div&gt;
&lt;/div&gt;

&lt;!--bg-warning--&gt;
&lt;div class=&quot;position-relative bg-warning&quot;&gt;
    &lt;div class=&quot;cover cover-overlay cover-gradient-vertical&quot; style=&quot;background-image:url(placeholder.jpg)&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;text-white position-relative&quot;&gt;.bg-warning&lt;/div&gt;
&lt;/div&gt;

&lt;!--bg-danger--&gt;
&lt;div class=&quot;position-relative bg-danger&quot;&gt;
    &lt;div class=&quot;cover cover-overlay cover-gradient-vertical&quot; style=&quot;background-image:url(placeholder.jpg)&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;text-white position-relative&quot;&gt;.bg-danger&lt;/div&gt;
&lt;/div&gt;

&lt;!--bg-info--&gt;
&lt;div class=&quot;position-relative bg-info&quot;&gt;
    &lt;div class=&quot;cover cover-overlay cover-gradient-vertical&quot; style=&quot;background-image:url(placeholder.jpg)&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;text-white position-relative&quot;&gt;.bg-info&lt;/div&gt;
&lt;/div&gt;
    </code></pre>
        </div>
    </div>
    <!--/Snippet-->
</figure>
