<header>
    <h2 class="display-4 mb-4">Isotope filtering</h2>
    <p>Isotope can hide and show item elements with the filter option. Items that match that filter will be shown. Items that do not match will be hidden.</p>
</header>

<figure>
    <figcaption>Default filtering</figcaption>
    <p>The simplest way to filter items is with selectors, like classes. For example, each item element can have several identifying classes: <code>one</code>, <code>two</code>, <code>three</code></p>

    <div class="mb-4">
        <span class="btn btn-outline-primary btn-rounded btn-istp active" data-filter="*">All</span>
        <span class="btn btn-outline-primary btn-rounded btn-istp" data-filter=".one">One</span>
        <span class="btn btn-outline-primary btn-rounded btn-istp" data-filter=".two">Two</span>
        <span class="btn btn-outline-primary btn-rounded btn-istp" data-filter=".three">Three</span>
    </div>

    <div class="istp-wrap">
        <div class="istp one p-1">
            <img src="{{docs.img}}placeholder.jpg" width="200" alt="">
        </div>
        <div class="istp three p-1">
            <img src="{{docs.img}}placeholder-3.jpg" width="200" alt="">
        </div>
        <div class="istp one p-1">
            <img src="{{docs.img}}placeholder.jpg" width="200" alt="">
        </div>
        <div class="istp two p-1">
            <img src="{{docs.img}}placeholder-2.jpg" width="200" alt="">
        </div>
        <div class="istp one p-1">
            <img src="{{docs.img}}placeholder.jpg" width="200" alt="">
        </div>
        <div class="istp two p-1">
            <img src="{{docs.img}}placeholder-2.jpg" width="200" alt="">
        </div>
        <div class="istp three p-1">
            <img src="{{docs.img}}placeholder-3.jpg" width="200" alt="">
        </div>
        <div class="istp two p-1">
            <img src="{{docs.img}}placeholder-2.jpg" width="200" alt="">
        </div>
        <div class="istp two p-1">
            <img src="{{docs.img}}placeholder-2.jpg" width="200" alt="">
        </div>
        <div class="istp three p-1">
            <img src="{{docs.img}}placeholder-3.jpg" width="200" alt="">
        </div>
        <div class="istp one p-1">
            <img src="{{docs.img}}placeholder.jpg" width="200" alt="">
        </div>
        <div class="istp three p-1">
            <img src="{{docs.img}}placeholder-3.jpg" width="200" alt="">
        </div>
    </div>

    <!--Snippet-->
    <div class='snippet'>
        <span class='pre-label'>HTML</span>
        <div class='snippet-box show'>
            <pre class='mb-0 language-markup'><span class='btn btn-secondary btn-copy btn-sm' data-clipboard-snippet>Copy</span><code class='language-markup'>&lt;!--Filter buttons--&gt;

    &lt;div class=&quot;mb-4&quot;&gt;
        &lt;span class=&quot;btn btn-white btn-sm btn-istp active&quot; data-filter=&quot;*&quot;&gt;All&lt;/span&gt;
        &lt;span class=&quot;btn btn-white btn-sm btn-istp&quot; data-filter=&quot;.one&quot;&gt;One&lt;/span&gt;
        &lt;span class=&quot;btn btn-white btn-sm btn-istp&quot; data-filter=&quot;.two&quot;&gt;Two&lt;/span&gt;
        &lt;span class=&quot;btn btn-white btn-sm btn-istp&quot; data-filter=&quot;.three&quot;&gt;Three&lt;/span&gt;
    &lt;/div&gt;

    &lt;!--Filter content--&gt;

    &lt;div class=&quot;istp-wrap&quot;&gt;
        &lt;div class=&quot;istp p-1 one&quot;&gt;
            &lt;img src=&quot;placeholder.jpg&quot; width=&quot;&quot; alt=&quot;&quot;&gt;
        &lt;/div&gt;
        &lt;div class=&quot;istp p-1 three&quot;&gt;
            &lt;img src=&quot;placeholder.jpg&quot; width=&quot;&quot; alt=&quot;&quot;&gt;
        &lt;/div&gt;
        &lt;div class=&quot;istp p-1 one&quot;&gt;
            &lt;img src=&quot;placeholder.jpg&quot; width=&quot;&quot; alt=&quot;&quot;&gt;
        &lt;/div&gt;
        &lt;div class=&quot;istp p-1 two&quot;&gt;
            &lt;img src=&quot;placeholder.jpg&quot; width=&quot;&quot; alt=&quot;&quot;&gt;
        &lt;/div&gt;
        &lt;div class=&quot;istp p-1 one&quot;&gt;
            &lt;img src=&quot;placeholder.jpg&quot; width=&quot;&quot; alt=&quot;&quot;&gt;
        &lt;/div&gt;
        &lt;div class=&quot;istp p-1 two&quot;&gt;
            &lt;img src=&quot;placeholder.jpg&quot; width=&quot;&quot; alt=&quot;&quot;&gt;
        &lt;/div&gt;
        &lt;div class=&quot;istp p-1 three&quot;&gt;
            &lt;img src=&quot;placeholder.jpg&quot; width=&quot;&quot; alt=&quot;&quot;&gt;
        &lt;/div&gt;
        &lt;div class=&quot;istp p-1 two&quot;&gt;
            &lt;img src=&quot;placeholder.jpg&quot; width=&quot;&quot; alt=&quot;&quot;&gt;
        &lt;/div&gt;
        &lt;div class=&quot;istp p-1 two&quot;&gt;
            &lt;img src=&quot;placeholder.jpg&quot; width=&quot;&quot; alt=&quot;&quot;&gt;
        &lt;/div&gt;
        &lt;div class=&quot;istp p-1 three&quot;&gt;
            &lt;img src=&quot;placeholder.jpg&quot; width=&quot;&quot; alt=&quot;&quot;&gt;
        &lt;/div&gt;
        &lt;div class=&quot;istp p-1 one&quot;&gt;
            &lt;img src=&quot;placeholder.jpg&quot; width=&quot;&quot; alt=&quot;&quot;&gt;
        &lt;/div&gt;
        &lt;div class=&quot;istp p-1 three&quot;&gt;
            &lt;img src=&quot;placeholder.jpg&quot; width=&quot;&quot; alt=&quot;&quot;&gt;
        &lt;/div&gt;
    &lt;/div&gt;</code></pre>
        </div>
    </div>
    <!--/Snippet-->
</figure>

<figure>
    <figcaption>Grid filtering</figcaption>
</figure>
